<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

    body{
        background-color: #141830;
    }
    a{
        text-decoration: none;
        font-family: 'Rajdhani',sans-serif;
    }
    h1{
        margin-top: 10%;
        text-align: center;
        color: white;
        font-family: 'Roboto',sans-serif;
        font-size: 50px;
    }
    div{
        font-size: 2rem;
        padding: 10px 10px 10px 70px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: #54e985;
        border: none;
        margin-left: 35%;
        margin-top: 5%;
    }
</style>


<h1>{{success}}</h1>
<div><a><i class="fa fa-check" aria-hidden="true"></i></a></div>