<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About EdEmo</title>
    <link rel="stylesheet" href="css/aboutapp.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
</head>
<body>

    <div class="transitionBox">
        <h2><span>E</span>d<span>E</span>mo</h2>

        <video src="video/video1.mp4" autoplay muted loop class="bgVid"></video>
        <h1 class="mainHeading">The <span>Future</span><br> is <span>Today</span></h1>

        <div class="backBtn">
            <button class="mainBtn"><a href="/">Back to Home</a></button><br>
            <button class="mainBtn"><a href="aboutteam">Developer Team</a></button>
        </div>


        <div class="content">
            <div class="leftContent">
                <h4>About EdEmo</h4>
                <p>EdEmo is an easy-to-use video conferencing software solution 
                    with a modern user interface and numerous features that will improve your online meetings.<br>
                    EdEmo does an excellent job with the latest iteration of AnyMeeting. 
                    The video quality is good, the controls are easy to use, and its absolutely free of charge. 
                    There's even a built-in meeting assistant. And it is end-to-end encrypted.</p>
                <h4>Key Features</h4>
                <p>These are the main features of EdEmo
                    <ul>
                        <li> Engagment Detection tool</li>
                        <li> Chatbot Engagment</li>
                        <li> Super easy video conference tool</li>
                        <li>Free of Charge</li>
                    </ul>
                </p>
                <h4>Consumer Satisfaction</h4>
                <p>Our product is mainly Consumer based. We drive forward to give our customers the best experience on video conferencing. 
                    For inquiries or feedback <br><br>
                    <button class="mailIcon" title="Mail to Email"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></button>
                </p>
            </div>
            <div class="rightContent">
                <img src="img/cover2.gif" alt="abtApp2" class="aboutImg">
            </div>        
        </div>

        <div class="finalBox">
            <img src="img/unnamed.gif" alt="" class="finalBoxImg">
            <p class="finalBoxPara">
              Create your own session now!<br>
              <button class="submit"><a href="room">Host your session</a></button>
            </p>
            <div class="socialMediaBut">
              <button title="twitter"><img src="img/twitter.png" alt="twitter" class="socialMedia"></button><br>
              <button title="Facebook"><img src="img/fb.png" alt="fb" class="socialMedia"></button><br>
              <button title="Whatsapp"><img src="img/whatsapp.png" alt="whatsapp" class="socialMedia"></button>
          </div>
          </div>
    </div>
    
</body>
</html>