<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="css/main.css"> -->
    <link rel="stylesheet" href="css/home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap" rel="stylesheet">  
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">     
    <title>EdEmo</title>
</head>
<body>

    <div class="leftContainer">
        <img src="img/cover3.gif" alt="coverImg" class="coverImg">
    </div>


    <div class="rightContainer">

        <div class="socialMediaBut">
            <button title="twitter"><img src="img/twitter.png" alt="twitter" class="socialMedia"></button><br>
            <button title="Facebook"><img src="img/fb.png" alt="fb" class="socialMedia"></button><br>
            <button title="Whatsapp"><img src="img/whatsapp.png" alt="whatsapp" class="socialMedia"></button>
        </div>

        <img src="img/logo.png" alt="logo" class="logo">
        <div class="titleDiv">
            <h1><span>E</span>d<span>E</span>mo</h1>
        </div>


        <button class="creatSessBut"><a href='room'>Create Session<span></span></a></button><br>
        <button class="creatSessBut2"><a href='room'>Join Session<span></span></a></button><br>


        <div class="belowBut">
            <button class="aboutBut"><a href='aboutteam'>About Us</a></button>
            <button class="aboutBut2"><a href='aboutapp'>About EdEmo</a></button>
        </div>
    </div>


</body>