<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EdEmo</title>
    <link rel="stylesheet" href="css/home.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="leftContainer">
      <img src="img/cover3.gif" alt="bgImg" class="bgImg" />
    </div>
    <div class="rightContainer">

        <div class="socialMediaBut">
            <button title="twitter"><img src="img/twitter.png" alt="twitter" class="socialMedia"></button><br>
            <button title="Facebook"><img src="img/fb.png" alt="fb" class="socialMedia"></button><br>
            <button title="Whatsapp"><img src="img/whatsapp.png" alt="whatsapp" class="socialMedia"></button>
        </div>

      <img src="img/logo.png" alt="logo" class="logo" />
      <h1 class="topic"><span>E</span>d<span>E</span>mo</h1>
      <div class="set1">
        <button class="btn1"><a href="room">Create Session</a></button>
      </div>
      <div class="set1">
        <button class="btn2">Join Session</button>
      </div>

      <div class="set2">
        <button class="btn2"><a href="aboutteam">About Us</a></button>
        <button class="btn2"><a href="aboutapp">About EdEmo</a></button>
      </div>
    </div>
  </body>
</html>
