<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/leave.css">
    <title>EdEmo</title>
    <link rel="stylesheet" href="css/aboutapp.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
</head>
<body>

    <div class="backBtn">
        <button class="mainBtn"><a href="/">Back to Home</a></button><br />
        <button class="mainBtn"><a href="aboutapp">About EdEmo</a></button>
    </div>

    <h1>You left the session.</h1><p>Rate your session experience!</p>
    <div class="starIcons">
        <i class="fa fa-star-o fa-3x" aria-hidden="true" id="icon1" onclick="rateOne()"></i>
        <i class="fa fa-star-o fa-3x" aria-hidden="true" id="icon2" onclick="rateTwo()"></i>
        <i class="fa fa-star-o fa-3x" aria-hidden="true" id="icon3" onclick="rateThree()"></i>
        <i class="fa fa-star-o fa-3x" aria-hidden="true" id="icon4" onclick="rateFour()"></i>
        <i class="fa fa-star-o fa-3x" aria-hidden="true" id="icon5" onclick="rateFive()"></i>
    </div>

    <!-- <button class="resultBtn">Display Engagment Results</button> -->
    <button class="resultBtn"><a href="resources">E-Library</a></button>
    <script>
        function rateOne(){
            document.getElementById('icon1').style.color='gold';
            document.getElementById('icon2').style.color='gray';
            document.getElementById('icon3').style.color='gray';
            document.getElementById('icon4').style.color='gray';
            document.getElementById('icon5').style.color='gray';
            alert("You have rated as dissatisfied. Thank you for your feedback...")
        }
        function rateTwo(){
            document.getElementById('icon1').style.color='gold';
            document.getElementById('icon2').style.color='gold';
            document.getElementById('icon3').style.color='gray';
            document.getElementById('icon4').style.color='gray';
            document.getElementById('icon5').style.color='gray';
            alert("You have rated as improvement needed. Thank you for your feedback...")
        }
        function rateThree(){
            document.getElementById('icon1').style.color='gold';
            document.getElementById('icon2').style.color='gold';
            document.getElementById('icon3').style.color='gold';
            document.getElementById('icon4').style.color='gray';
            document.getElementById('icon5').style.color='gray';
            alert("You have rated as moderate. Thank you for your feedback...")
        }
        function rateFour(){
            document.getElementById('icon1').style.color='gold';
            document.getElementById('icon2').style.color='gold';
            document.getElementById('icon3').style.color='gold';
            document.getElementById('icon4').style.color='gold';
            document.getElementById('icon5').style.color='gray';
            alert("You have rated as good. Thank you for your feedback...")
        }
        function rateFive(){
            document.getElementById('icon1').style.color='gold';
            document.getElementById('icon2').style.color='gold';
            document.getElementById('icon3').style.color='gold';
            document.getElementById('icon4').style.color='gold';
            document.getElementById('icon5').style.color='gold';
            alert("You have rated as excellent. Thank you for your feedback...")
        }

    </script>
</body>
</html>