<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/leave.css">
    <title>EdEmo</title>
    <link rel="stylesheet" href="css/aboutapp.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
</head>
<body>

    <div class="backBtn">
        <button class="mainBtn"><a href="/">Back to Home</a></button><br />
        <button class="mainBtn"><a href="aboutapp">About EdEmo</a></button>
    </div>

    <h1>You left the session.</h1><p>Rate your session experience!</p>
    <div class="starIcons">
        <i class="fa fa-star-o fa-3x" aria-hidden="true" id="icon"></i>
        <i class="fa fa-star-o fa-3x" aria-hidden="true" id="icon"></i>
        <i class="fa fa-star-o fa-3x" aria-hidden="true" id="icon"></i>
        <i class="fa fa-star-o fa-3x" aria-hidden="true" id="icon"></i>
        <i class="fa fa-star-o fa-3x" aria-hidden="true" id="icon"></i>
    </div>

    <button class="resultBtn"><a href="results">Display Engagment Results</a></button>
</body>
</html>