<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/aboutteam.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap"
      rel="stylesheet"
    />
    <title>Developer Team</title>
  </head>
  <body>
    <div class="blackBox"></div>

    <div class="content">
      <h1><span>D</span>evelopers <span>T</span>eam</h1>
      <hr width="60%" />
      <p>
        We are team of six members who are 2nd year students B(Eng.) of Software
        Engineering and B(Sc.) in Computer Science undergraduates.<br />
        We are not a team because we work together. We are a team because we
        respect, trust and care for each other.
      </p>
    </div>

    <div class="backBtn">
      <button class="mainBtn"><a href="/">Back to Home</a></button><br />
      <button class="mainBtn"><a href="aboutapp">About EdEmo</a></button>
    </div>

    <div class="cardBox">
      <div class="card">
        <img src="img/smith.jfif" alt="suhith" class="cardImg" />
        <p>
          Suhith Nanayakkara<br />
          <span>FullStack Developer</span>
        </p>
        <div class="socialButBox">
          <button class="socialBut">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </button>
          <button class="socialBut">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </button>
          <button class="socialBut">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="card">
        <img src="img/charani.jfif" alt="charani" class="cardImg" />
        <p>
          Charani Hasara<br />
          <span>FullStack Developer</span>
        </p>
        <div class="socialButBox">
          <button class="socialBut">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </button>
          <button class="socialBut">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </button>
          <button class="socialBut">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="card">
        <img src="img/hamza.jfif" alt="hamza" class="cardImg" />
        <p>
          Hamza Ziyard<br />
          <span>FullStack Developer</span>
        </p>
        <div class="socialButBox">
          <button class="socialBut">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </button>
          <button class="socialBut">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </button>
          <button class="socialBut">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="cardBox2">
        <div class="card">
          <img src="img/hiruni.jfif" alt="hiruni" class="cardImg" />
          <p>
            Hiruni Silva<br />
            <span>FullStack Developer</span>
          </p>
          <div class="socialButBox">
            <button class="socialBut">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </button>
            <button class="socialBut">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </button>
            <button class="socialBut">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="card">
          <img src="img/ginura.jfif" alt="ginura" class="cardImg" />
          <p>
            Ginura Weliwatta<br />
            <span>FullStack Developer</span>
          </p>
          <div class="socialButBox">
            <button class="socialBut">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </button>
            <button class="socialBut">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </button>
            <button class="socialBut">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="card">
          <img src="img/samadi.jfif" alt="samadi" class="cardImg" />
          <p>
            Samadhi Udara<br />
            <span>Frontend Developer</span>
          </p>
          <div class="socialButBox">
            <button class="socialBut">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </button>
            <button class="socialBut">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </button>
            <button class="socialBut">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="finalBox">
      <img src="img/unnamed.gif" alt="" class="finalBoxImg">
      <p class="finalBoxPara">
        Create your own session now!<br>
        <button class="submit"><a href="room">Host your session</a></button>
      </p>
      <div class="socialMediaBut">
        <button title="twitter"><img src="img/twitter.png" alt="twitter" class="socialMedia"></button><br>
        <button title="Facebook"><img src="img/fb.png" alt="fb" class="socialMedia"></button><br>
        <button title="Whatsapp"><img src="img/whatsapp.png" alt="whatsapp" class="socialMedia"></button>
    </div>
    </div>


  </body>
</html>
