<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SDGP</title>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
    
        
    </head>
    
    <body a link="black" vlink="black">
      
    <div class="online"> <label for="online learning">ONLINE LEARNING</label> </div> 
      <p>Online learning is the newest and most popular form of
        distance education today. Within the past decade it has
        had a major impact on postsecondary education and the
        trend is only increasing.Online learning is catalyzing a pedagogical shift in how we teach and learn. There is a shift
        away from top-down lecturing and passive students to a more interactive, collaborative
        approach in which students and instructor co-create the learning process. The Instructor’s role
        is changing from the “sage on the stage” to “the guide on the side.” </p>
        
         <div class="subject"> <label for="science" >SCIENCE </label></div>

          <div class="grade10"><label for="grade">GRADE 10</label></div>
          <div class="sinhala"><label for="sinhala video">SINHALA VIDEOS</label> </div>
          <ul > 
            
            <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtube.com/playlist?list=PLbxSmkLpnFemaH1aThztYDLmlsFLcPBt9">All lessons</a></li>
            <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href=" https://www.youtube.com/playlist?list=PLqztQunxDieNV1txUTrONgqktaw3hyJ8Z">Grade 10 all lessons</a></li>
            </ul>
    
            <div class="English"><label for="sinhala video">English VIDEOS</label> </div>
          <ul> 
            
            <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtube.com/playlist?list=PL5KT2p-OTUybWh13LYQuKCvuBQ6X263LJ">Motion in a straight line</a></li>
            <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtube.com/playlist?list=PL5KT2p-OTUybKTGwDwP1iaRafq4HUsi9s">Chemical Basis of Life</a></li>
            <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/XXxZUZIlxMU">Chemical Basis Of Life - Part 1</a></li>
            <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/urqPr0rjx3c">Chemical Basis Of Life - Part 2</a></li>
            
            
            </ul>

          <div  class="grade11">  <label for="grade">GRADE 11</label></div>
      <div class="sinhala"><label for="sinhala video">SINHALA VIDEOS</label> </div>
      <ul>
        <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtube.com/playlist?list=PLbxSmkLpnFenLC1tkEMfQR9YFThuM_SfV">Management Biological tissue</a></li>
        <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/d7FNku5bP-I">Electromagnetic induction</a></li>
        <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/qIazrx2ysG8">Mixtures and problem solving</a></li>
        <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/R5dDG5hVToA">Digestive System</a></li>
        <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://www.youtube.com/playlist?list=PLqztQunxDieMRPRu7JHN4fgTE41byNhVz">Grade 11 All lessons</a></li>
        </ul>

        <div class="English"> <label for="sinhala video">English VIDEOS</label> </div>
      <ul> 
        <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/H1FraYYDFUo">Meristematic Tissues</a></li>
        <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/s3PV2zhhVo8">Muscle Tissues</a></li>
        <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/dISbGgYgzik">Power and energy of electrical appliances 2</a></li>
        <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtube.com/playlist?list=PL5KT2p-OTUya5BdhLJGB2lkU3-FiIq1Sk">Mixture</a></li>
        </ul>
          

        <div class="subject"><label for="maths">MATHS</label></div>

        
        <div  class="grade10"><label for="grade">GRADE 10</label></div>
        <div class="sinhala"><label for="sinhala video">SINHALA VIDEOS</label> </div>
        <ul> 
          <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtube.com/playlist?list=PLcUOoycaDS-l2fohWWqKMhqdBmeUsutF5">Grade 10 all lessons </a></li>
          
          </ul>
  
        <div class="English"> <label for="sinhala video">English VIDEOS</label> </div>
        <ul> 
          <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtube.com/playlist?list=PL1ASS_oORKjguTPDLCKE2fx2FyPs3QvA0">Grade 10 all lessons </a></li>
          <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtube.com/playlist?list=PL1ASS_oORKjg4DADw1Fgkl27r0zlczP1Y">Grade 10 - Year end evaluation</a></li>
          
          </ul>

          <div class="grade11"><label for="grade">GRADE 11</label></div>
          <div class="sinhala"><label for="sinhala video">SINHALA VIDEOS</label> </div>
          <ul>
            <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtube.com/playlist?list=PLcUOoycaDS-l_PTEycEJIC0dq_mH1D3yx">Grade 11 all lessons</a></li>
            
            </ul>
    
          <div class="English">  <label for="sinhala video">English VIDEOS</label> </div>
          <ul> 
            
            <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtube.com/playlist?list=PL1ASS_oORKjgWVfOnH1pxmqDs4auRqe1e">Grade 11 all lessons</a></li>
            <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtube.com/playlist?list=PL1ASS_oORKjgeyH3PgSdvItKxRqrtBtYn">Grade 11 - Year end evaluation</a></li>
            <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtube.com/playlist?list=PL1ASS_oORKjjg_J6EIqEQVPT5CopXaiST">O/L Targeted 1000 Questions</a></li>
            <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtube.com/playlist?list=PL1ASS_oORKjiQsAWBErKReB7c1AZ8tge4">GCE Ordinary Level Exam Papers</a></li>
            </ul>

            <div class="subject"> <label for="english">ENGLISH</label></div>

        
     <div  class="grade10"> <label for="grade">GRADE 10</label></div>
      <div class="video"><label for="video">VIDEOS</label> </div>
      <ul> 
        <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtube.com/playlist?list=PLihupt0yS8aPU0VAQO3Cb-ASbBLU8ukE-">All lessons with sinhala</a></li>
        <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtube.com/playlist?list=PLihupt0yS8aM-MH3B-4oTsDsAXkGJB4dQ">All lessons with English</a></li>
       
        </ul>

      <div class="grade11"> <label for="grade">GRADE 11</label></div>
        <div class="video"><label for="video">VIDEOS</label> </div>
        <ul>
          <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtube.com/playlist?list=PLihupt0yS8aMEPsJdbOE2Ta31o1bsGJyT">All lessons with sinhala</a></li>
          <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtube.com/playlist?list=PLihupt0yS8aMMigHwXf2J_GluwGrcsP4i">All lessons with English</a></li>
         
          </ul>
  

          <div class="subject"> <label for="history">HISTORY</label></div>

        
      <div  class="grade10"><label for="grade">GRADE 10</label></div>
      <div class="video"><label for="video">VIDEOS</label> </div>
      <ul> 
        <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/cP-vRjGpEK0"> History lesson 01</a></li>
        <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/KWvDlvIj6ic">History lesson 08</a></li>
        <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/TjakHE4f-u8">Paper discussion</a></li>
        </ul>

        
        <div class="grade11"><label for="grade">GRADE 11</label></div>
        <div class="video"><label for="video">VIDEOS</label> </div>
        <ul>
          <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/uUJvK2T7opg">karmika viplawaya</a></li>
          <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/JjgxPURx1-Q">lesson 8</a></li>
          <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/tphMh24glds">lesson 2</a></li>
          </ul>
       
          <div class="subject"><label for="ict">ICT</label></div>

     <div  class="grade10"> <label for="grade">GRADE 10</label></div>
     <div class="sinhala"><label for="sinhala video">SINHALA VIDEOS</label> </div>
      <ul> 
        <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/oQqqQ9auAqU">Lesson 01</a></li>
        <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtube.com/playlist?list=PLVB2_w4PKHHvVBdU-ZtBdDJSCX0a-0tta">Lesson 02</a></li>
        <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/eEh8BnAnRFY">Data Communication</a></li>
        <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/_0-CrirJnr4">Computer Hardware</a></li>
        </ul>

      <div class="English"> <label for="sinhala video">English VIDEOS</label> </div>
      <ul> 
        <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/1c6FkhidYxE">Application of ICT</a></li>
        <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/-UZODx0iivU">Unit 1</a></li>
        <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/scXP7kdQBjA">Unit 3</a></li>
        <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/KsmFHLg9KSc">NUMBER SYSTEMS </a></li>
        
        </ul>

      <div class="grade11">  <label for="grade">GRADE 11</label></div>
        <div class="sinhala"><label for="sinhala video">SINHALA VIDEOS</label> </div>
        <ul>
          <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/o0CuzErXO00">Introduction, Basic HTML Tags</a></li>
          <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/TKA7gKm-mcs">Flow chart</a></li>
          <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/zb6ESXbdNWA">Lesson 03</a></li>
          <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/f5L4RNEHFpk">Past Paper Discussion</a></li>
         
          </ul>
  
        <div class="English"> <label for="sinhala video">English VIDEOS</label> </div>
        <ul> 
          <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/72C6UqZaG2M">Lesson 3</a></li>
          <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/cQG4WSrzabw">ICT & Society</a></li>
          <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/NQVmLxzFPNA">Pascal</a></li>
          <li><span class="book"><i class="fa fa-book" aria-hidden="true"></i></span><a href="https://youtu.be/ilfFDheybLI">Past Papers</a></li>
          </ul>
      
     
     
    </body>
</html>