body{
    margin: 0;
}

.transitionBox{
    transition:0.5s;
}



/*adjusting the length of the slide bar*/
::-webkit-scrollbar {
    width: 15px;
  }

/*adjusting the track of the scrollbar*/
::-webkit-scrollbar-track {
        background-color: #1a1f3f; 
      }

/*styling the slidebar*/
::-webkit-scrollbar-thumb {
          background-color: #b9c1fa; 
          border-radius: 3px;
        }


h2{
    position: absolute;
    top: 30%;
    left: 25%;
    z-index: 1;
    font-size: 45px;
    font-family: 'Titillium Web', sans-serif;
}

h2 span{
    font-size: 60px;
    color: #1f7783;
}

.bgVid{
    position: absolute;
    top: 10%;
    left: 0;
    width: 60%;
    height: 500px;
}

.backBtn{
    position: absolute;
    top: 5%;
    right: 2%;
}

.mainBtn{
    margin-top: 20px;
    padding: 10px 20px;
    font-family: 'Rajdhani',sans-serif;
    background-color: #e4c3ff;
    border: none;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
    transition: 0.5s;
    outline: none;
}

.mainBtn:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 15px #e4c3ff;
}

.mainBtn a{
    text-decoration: none;
    color: black;
}

.mainHeading{
    text-align: center;
    padding: 80px 5%;
    width: 28%;
    position: absolute;
    top: 10%;
    right: 2%;
    font-size: 60px;
    font-family: 'Titillium Web', sans-serif;
}

.mainHeading span{
    color: #1f7783;
    font-size: 90px;
}


.content{
    /* background-color: aqua; */
    position: absolute;
    top: 80%;
    left: 0%;
    right: 30%;
    width: 100%;
}


.aboutImg{
    position: absolute;
    top: 60%;
    right: 0;
    height: 400px;
    width: 400px;
    margin-top: -250px;
    margin-right: 50px;
}

.leftContent{
    float: left;
}

.rightContent{
    float: right;
}

.leftContent h4{
    background-color: #b9c1fa;
    padding-left: 50px;
    padding-right: 20px;
    width: 50%;
    font-family: 'Titillium Web',sans-serif;
    font-size: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.leftContent p,ul{
    width: 60%;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: justify;
    margin-left: 5%;
}


.mailIcon{
    background-color: #f5f5f5;
    border: none;
    padding: 10px;
    border-radius: 100%;
    transition: 0.5s;
    cursor: pointer;
}

.mailIcon:hover{
    transform: scale(1.2);
    box-shadow:2px 2px 15px #b3b3b3;
}

.finalBox {
    position: absolute;
    top: 220%;
    left: 5%;
    background-color: #fdfdfd;
    width: 90%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  
  .finalBoxImg {
    float: left;
    margin-left: 5%;
    z-index: -10;
    height: 300px;
    width: 30%;
    transition: 0.5s;
  }
  
  .finalBoxPara {
    padding-right: 25%;
    font-family: "Titillium Web", sans-serif;
    font-size: 35px;
  }
  
  .finalBox button {
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #1d7985;
    outline: none;
    border: none;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    transition: 0.5s;
  }
  
  .finalBoxPara button:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 15px #1d7985;
  }
  
  .finalBox button a {
    color: white;
    text-decoration: none;
  }
  
  
  .socialMediaBut {
    background-color: rgba(0,0,0,0.1);
    padding: 1% 0%;
    position: absolute;
    top: 20%;
    right: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .socialMediaBut button {
    background-color: transparent;
    border: none;
    border-radius: 100%;
    transition: 0.5s;
  }
  
  .socialMediaBut button:hover {
    transform: scale(1.2);
    padding: 0;
  }
  
  .socialMedia {
    height: 40px;
    width: 40px;
    cursor: pointer;
  }