body {
  margin: 0;
  background-color: #1a1f3f;
}

button {
  outline: none;
}

.leftContainer {
  position: absolute;
  left: 0;
}

.coverImg {
  position: absolute;
  top: 0;
  left: 0;
  height: 790px;
  width: 750px;
}

.rightContainer {
  position: absolute;
  right: 0;
  width: 53%;
  font-family: "Jura", sans-serif;
}

.logo {
  margin-left: 19%;
  margin-top: 19%;
  margin-right: 5%;
  height: 50;
  width: 50px;
  float: left;
  background-color: rgba(255,255,255,0.8);
  padding: 3%;
  border-radius: 50%;
}

.titleDiv h1 {
  margin-left: 25%;
  margin-top: 18%;
  font-size: 80px;
  color: white;
}

.titleDiv h1 span {
  color: #2ebacc;
  font-size: 100px;
}

.creatSessBut {
  background-color: #1f92a1;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bolder;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin-left: 40%;
  margin-top: 5%;
  transition: 0.5s;
}

.creatSessBut2 {
  background-color: #1f92a1;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bolder;
  border: none;
  padding: 10px 32px;
  border-radius: 10px;
  margin-left: 40%;
  margin-top: 4%;
  transition: 0.5s;
}

.belowBut {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 27%;
  padding: 25px 10px 25px 100px;
}

.aboutBut,
.aboutBut2 {
  background-color: rgba(134,178,44,0.7);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  border: none;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  cursor: pointer;
}
.aboutBut2 {
  margin-left: 30%;
}

.aboutBut a,
.aboutBut2 a {
  text-decoration: none;
  color: black;
  color: white;
}

.creatSessBut a,
.creatSessBut2 a {
  text-decoration: none;
  color: white;
  letter-spacing: 1.5xpx;
}

.creatSessBut:hover,
.creatSessBut2:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 10px #1f92a1;
}

.aboutBut:hover,
.aboutBut2:hover{
  transform: scale(1.1);
  box-shadow: 2px 2px 10px rgba(134,178,44,0.7);
}

.socialMediaBut {
  background-color: rgba(255,255,255,0.1);
  padding: 1% 0.3%;
  position: absolute;
  top: 5%;
  right: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.socialMediaBut button {
  background-color: transparent;
  border: none;
  border-radius: 100%;
  transition: 0.5s;
}

.socialMediaBut button:hover {
  transform: scale(1.2);
  padding: 0;
}

.socialMedia {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
