body{
    margin: 0;
    background-color: #141830;
}

h1{
    margin-top: 10%;
    text-align: center;
    font-size: 70px;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    transition: 0.5s;
}

h1:hover{
    transform: scale(1);
}

p{ 
    text-align: center;
    font-size: 40px;
    color: rgb(156, 156, 156);
    font-family: 'Titillium Web', sans-serif;
}

.backBtn{
    position: absolute;
    top: 5%;
    right: 2%;
}

.mainBtn{
    margin-top: 20px;
    padding: 10px 20px;
    font-family: 'Rajdhani',sans-serif;
    background-color: #fc45fc;
    border: none;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
    transition: 0.5s;
    outline: none;
}

.mainBtn:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 15px #fc45fc;
}

.mainBtn a{
    text-decoration: none;
    color: black;
}



.starIcons{
    background-color: rgba(255,255,255,0.2);
    padding: 15px 0px;
    padding-left: 38%;
}

#icon1,#icon2,#icon3,#icon4,#icon5{
    margin-left: 20px;
    color: gray;
    transition: 0.5s;
}

#icon1:hover,#icon2:hover,#icon3:hover,#icon4:hover,#icon5:hover{
    transform: scale(1.2);
    cursor: pointer;
    color: gold;
}

.resultBtn{
    margin-top: 50px;
    font-family: 'Rajdhani',sans-serif;
    background-color: #1f92a1;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}

.resultBtn:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 15px#1f92a1;
}

.resultBtn a{
    text-decoration: none;
    color: white;
}