body {
  background-color: #141830;
  font-family: "Rajdhani", sans-serif;
  margin: 0;
  color: white;
}

/*adjusting the length of the slide bar*/
::-webkit-scrollbar {
  width: 15px;
}

/*adjusting the track of the scrollbar*/
::-webkit-scrollbar-track {
  background-color: #1a1f3f;
}

/*styling the slidebar*/
::-webkit-scrollbar-thumb {
  background-color: #b9c1fa;
  border-radius: 3px;
}

.backBtn {
  position: absolute;
  top: 5%;
  right: 2%;
}

.mainBtn {
  margin-top: 20px;
  padding: 10px 20px;
  font-family: "Rajdhani", sans-serif;
  background-color: #ff83ff;
  border: none;
  font-weight: bold;
  font-size: 15px;
  border-radius: 20px;
  transition: 0.5s;
  outline: none;
}

.mainBtn:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 15px #ff83ff;
}

.mainBtn a {
  text-decoration: none;
  color: black;
}

.subject {
  font-size: 40px;
  font-family: "Titillium Web", sans-serif;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  /* color: black; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /* border-radius: 20px; */
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}
.grade10,
.grade11 {
  color: rgb(1, 255, 255);
  font-size: 40px;
  margin-left: 20%;
  font-weight: bold;
  text-transform: uppercase;
}

.sinhala,
.English,
.video {
  color: white;
  font-size: 25px;
  margin-left: 25%;
  text-transform: uppercase;
}

/* .video{
  color: deepskyblue;
} */

.online {
  font-size: 70px;
  text-align: center;
  /* color: mediumspringgreen; */
  font-family: "Titillium Web", sans-serif;
}

.online span {
  color: #2ebacc;
  font-size: 100px;
}

.intro {
  padding: 50px 70px 0px 50px;
  text-align: justify;
  font-size: 20px;
}

ul {
  position: relative;
  padding: 10px;
  text-transform: capitalize;
}

ul li {
  display: flex;
  /* background: rgb(148, 140, 199); */
  background: rgb(164, 234, 255);
  padding-top: 10px;
  padding-bottom: 10px;
  /* margin: 5px 0; */
  margin-left: 30%;
  margin: 5px 40%;
  transition: 0.5s;
  width: 20%;
  border-radius: 10px;
  font-family: "Rajdhani", sans-serif;
  font-size: 15px;
  justify-content: center;
}

ul li:hover {
  transform: scale(1.06);
  background: rgb(148, 140, 199);
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: white;
  font-weight: bold;
}
