body{background-color: darkslateblue;}

.subject{
 color: cornflowerblue;
 font-family: 'Rajdhani', sans-serif;
 

}

.grade10{
  color: darkcyan;

}

.grade11{
 color: lightseagreen;
}

.sinhala{
  color: deepskyblue;
}

.English{
  color: dodgerblue;
}

.video{
  color: deepskyblue;
}

.online{
  font-size: xx-large;

  color: mediumspringgreen;
  font-family: 'Titillium Web',sans-serif;
 
}

ul{
  position: relative;
 
  padding: 10px;
  box-sizing: border-box;
}

ul li{
  display: flex;
  background: cornflowerblue;
  padding: 10px 20px;
  color: aliceblue;
  margin: 5px 0;
  transition: .5s;
  width: 500px;
}

ul li:hover{
  transform: scale(1.06);
  background: darkslateblue;
}

ul li span:not(1){
  width: 30px;
}






